body {
  margin: 0;
  /* display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20vw;
  padding-right: 20vw; */
}

.the-body {
  border: 5px solid red;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

.hero-background {
  background-color: #1F2937;
}


.hero-b {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  /* margin-left: 32px; */
  /* padding-right: 2rem; */
  /* gap: 30rem; */
  width: 55vw;
  /* margin-left: 18vw;
  margin-right: 18vw; */

}

.hero {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-left: 12vw; */
  /* padding-right: 12vw; */
  margin-left: 18vw;
  margin-right: 18vw;
  /* width: 100rem; */
  /* padding-left: 16vw;
  padding-right: 16vw; */
  width: 66vw;
  height: 25rem;
}

.top-a {
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  margin-left: 18vw;
  margin-right: 18vw;
  width: 50vw;
}

.top-b {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: 2rem;
  width: 33vw;

}

.main-image {
  width: 800px;
  height: 200px;
}

.links {
  display: flex;
  gap: 1rem;
  color: #E5E7EB;
  font-size: 18px;
  /* margin-right: 18vw; */

}

.top-header {
  margin: 0;
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.header-title {
  color: #F9FAF8;
  font-size: 24px;
}

.header-b {
  background-color: #3882F6;
  border-radius: 10px;
  padding: 5px;
  width: 7rem;
}

.header-p {
  font-size: 18px;
  color: #E5E7EB;
}

/* Section two */

.imgb {
  height: 150px;
  width: 150px;
  border: 1px solid blue;
  border-radius: 15%;
}

.section2 {
  padding-left: 16vw;
  padding-right: 16vw;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: ; */
  width: 66vw;
}

.s2head {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 18vw;
  margin-right: 18vw;
  gap: 3rem;
}

.image-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 150px;
  /* flex: auto; */
  /* gap: 1rem; */
}

.quote-section {
  background-color: #E5E7EB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whole-quote {
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  margin-top: 8rem;
  margin-bottom: 8rem;
  padding-left: 16vw;
  padding-right: 16vw;
  margin-left: 18vw;
  margin-right: 18vw;
}

.quote {
  font-size: 36px;
  font-style: light italic;
  color: #1F2937;
}


/* Call to action */

.cta-big-div {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}


.cta {
  display: flex;
  background-color: #3882F6;
  width: 100rem;
  height: 8rem;
  justify-content:space-between;
  align-items: center;
  
}

.ctatext {
  display: flex;
  flex-direction: column;
}

.cta-button {
  width: 6rem;
  height: 2rem;
  background-color: #3882F6;
  border: 5px solid #E5E7EB;
  color: #E5E7EB;
}