body {
  margin: 0;
}

.the-body {
  border: 5px solid red;
  margin: 0;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}


.hero-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 66vw;
}

.hero {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-left: 12vw;
  padding-right: 12vw;
}

.top-a {
  display: flex;
  padding: 2rem;
}

.top-b {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: 2rem;
  width: 33vw;

}

.main-image {
  width: 33vw;
}

.links {
  display: flex;
  gap: 1rem;
  color: #E5E7EB;
  font-size: 18px;

}

.top-header {
  margin: 0;
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.header-title {
  color: #F9FAF8;
  font-size: 24px;
}

.header-b {
  background-color: #3882F6;
  border-radius: 10px;
  padding: 5px;
  width: 7rem;
}

.header-p {
  font-size: 18px;
  color: #E5E7EB;
}

/* Section two */

img {
  height: 150px;
  width: 150px;
  border: 1px solid blue;
}

.section2 {
  padding-left: 16vw;
  padding-right: 16vw;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: ; */
}

.s2head {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 150px;
  /* gap: 1rem; */
}